<!DOCTYPE html>
<html>
    <head>
        <title>Let's Jam!</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
        <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>
        <script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.js"></script>

        <script src= "app.js"></script>
        <script src= "core/signup/signup.js"></script>
        <script src= "core/searchMusicians/searchMusicians.js"></script>
        <script src= "core/services/MusicianServiceFactory.js"></script>
        <script src= "core/userProfile/userProfile.js"></script>

    </head>

    <body ng-app="letsJam">

        <!--NAVBAR-->
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg" ng-controller="IndexCtrl">
            <a class="navbar-brand" href="">Let's Jam!</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <!--<li class="nav-item" ng-class="signupClicked == true ? 'active' : ''" ng-if="!currentUser[0]">
                        <a class="nav-link" href=""ng-click="goToSignup()">Entra/Registrati <span class="sr-only">(current)</span></a>
                    </li>-->
                    <li class="nav-item" ng-class="searchClicked == true ? 'active' : ''" ng-if="currentUser[0]">
                        <a class="nav-link" href=""ng-click="goToSearchMusicians()">Ricerca Musicisti</a>
                    </li>
                </ul>
                <ul class = "navbar-nav mr-auto navbar-right">
                    <li class="nav-item dropdown" ng-class="profileClicked == true ? 'active' : ''" ng-if="currentUser[0]">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ciao {{currentUser[0].loginEntity.username}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="" ng-click="goToEditProfile()">Modifica profilo</a>
                            <a class="dropdown-item" href="" ng-click="goToDeleteProfile()">Elimina profilo</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="" ng-click="logout()">Esci</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <br>
        <br>

        <!--NG-VIEW-->
        <div>
            <ng-view></ng-view>
        </div>

    </body>
</html>