<!DOCTYPE html>
<html>
    <head>
        <title>Let's Jam!</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
        <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>
        <script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.js"></script>

        <script src= "app.js"></script>
        <script src= "core/signup/signup.js"></script>
        <script src= "core/searchMusicians/searchMusicians.js"></script>
        <script src= "core/services/MusicianServiceFactory.js"></script>

    </head>

    <body ng-app="letsJam">

        <!--NAVBAR-->
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg" ng-controller="IndexCtrl">
            <a class="navbar-brand" href="">Let's Jam!</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" ng-class="signupClicked == true ? 'active' : ''">
                        <a class="nav-link" href=""ng-click="goToSignup()">Entra/Registrati <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item" ng-class="searchClicked == true ? 'active' : ''">
                        <a class="nav-link" href=""ng-click="goToSearchMusicians()">Cerca Musicisti</a>
                    </li>
                    <li class="nav-item dropdown" ng-class="profileClicked == true ? 'active' : ''">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Profilo
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Modifica</a>
                            <a class="dropdown-item" href="#">Elimina</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Esci</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <!--MENU BUTTONS-->
        <!--<div class="container" ng-controller="IndexCtrl">
            <div class="btn-group btn-group-lg" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-secondary" ng-click="goToSignup()">Entra/Registrati</button>
                <button type="button" class="btn btn-secondary" ng-click="goToSearchMusicians()">Cerca Musicisti</button>

                <div class="btn-group btn-group-lg" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Profilo
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="#">Modifica</a>
                        <a class="dropdown-item" href="#">Elimina</a>
                        <a class="dropdown-item" href="#">Esci</a>
                    </div>
                </div>
            </div>
        </div>-->

        <br>
        <br>

        <!--NG-VIEW-->
        <div>
            <ng-view></ng-view>
        </div>

    </body>
</html>